{% extends 'Header.html' %}
{% block body %}
<section>
    <h1>  {{ TheFullComapnyName }} </h1>
    <form action="{{ url_for('Add_Work')}}" , method="POST"> 
        <div>
            <label> التاريخ </label>
            <input type="date" name="Date">
        </div>
        <hr>
        <div>
            <label> رقم العميل التعريفي </label>
            <input type="text" placeholder="" name="CID">
        </div>
        <hr>
        <div>
            <label> رقم العمل التعريفي </label>
            <span>W{{ID}}</span>
        </div>
        <hr>
        <div>
            <label> عنوان العمل </label>
            <input type="text" placeholder="" name="Address">
        </div>
        <hr>
        <div>
            <label> لينك العنوان </label>
            <input type="url" placeholder="" name="Location">
        </div>
        <hr>
        <div>
            <label> لينك درايف </label>
            <input type="url" placeholder="" name="drive">
        </div>
        <hr>
        <div>
            <label> نوع العمل </label>
            <nav>
                <div>
                    <input type="radio" id="Kitchen" name="Type" value="مطابخ">
                    <label for="Kitchen">مطابخ</label>
                </div>
                <div>
                    <input type="radio" id="Window" name="Type"  value="شبابيك">
                    <label for="Window">شبابيك</label>
                </div>
                <div>
                    <input type="radio" id="Door" name="Type"  value="ابواب">
                    <label for="Door">ابواب</label>
                </div>
                <div>
                    <input type="radio" id="Shauter" name="Type"  value=">شيش حصيرة">
                    <label for="Shauter">شيش حصيرة</label>
                </div>
                <div>
                    <input type="radio" id="Cover"name="Type"   value=">تند ايطالي">
                    <label for="Cover">تند ايطالي</label>
                </div>
                <div>
                    <input type="radio" id="Box" name="Type"  value=">وحات منفصلة">
                    <label for="Box">وحات منفصلة</label>
                </div>
                <div>
                    <input type="radio" id="Wire" name="Type"  value=">سلك بيلسية">
                    <label for="Wire">سلك بيلسية</label>
                </div>
            </nav>
        </div>
        <hr>
        <div>
            <label> المال المدفوع للعمل</label>
            <input type="number" name="Input">
        </div>
        <hr>
        <div>
            <label>اجمالي حساب العمل</label>
            <input type="number" name="Total">
        </div>
        <hr>
        <div>
            <input type="submit" id="IO" value="اضافة">
        </div>
    </form>
</section>
{% endblock %}