{% extends 'Header.html' %}
{% block body %}
<section>
    <h1>  {{ TheFullComapnyName }} </h1>
</section>
<section>
    <h1>  تسجيل الدخول لحسابك </h1>
    <form  action="{{url_for('Sign_In')}}" , method="POST">
        <div>
            <label> الاسم </label>
            <input type="text" name="Name" required>
        </div>
        <div>
            <label> الرقم السري </label>
            <input type="password" name="Password" required>
        </div>
        <div>
            <input type="submit" id="IO" value="تسجيل دخول">
        </div>
    </form>
</section>
{% endblock %}