{% extends 'Header.html' %}
{% block nav %}
<p></p>
{% endblock %}
{% block body %}
<section>
    <h1>  {{ TheFullComapnyName }} </h1>
</section>
<section>
    <h1> تغيير كلمة السر </h1>
    <form  action="{{url_for('Reset_Password')}}" , method="POST">
        <div>
            <label> الاسم </label>
            <input type="text" name="Name" required>
        </div>
        <div>
            <label> الرقم السري القديم</label>
            <input type="password" name="OPassword" required>
        </div>
        <div>
            <label> الرقم السري الجديد</label>
            <input type="password" name="NPassword" required>
        </div>
        <div>
            <input type="submit" id="IO" value="تغيير">
        </div>
    </form>
</section>
{% endblock %}