{% extends 'Header.html' %}
{% block nav %}
<p></p>
{% endblock %}
{% block body %}
<section>
    <h1>  {{ TheFullComapnyName }} </h1>
</section>
<section>
    <h1>  حساب جديد </h1>
    <form  action="{{url_for('New_Account')}}" , method="POST">
        <div>
            <label> الاسم </label>
            <input type="text" name="Name" required>
        </div>
        <div>
            <label> الرقم السري </label>
            <input type="password" name="Password" required>
        </div>
        <div>
            <input type="submit" id="IO" value="حفظ">
        </div>
        <div>
            <button>
                <i class="fas fa-2x fa-user"></i> 
                <a href="{{url_for('Sign_In')}}"> تسجيل الدخول لحسابك </a>
            </button>
            <button>
                <i class="fas fa-2x fa-pen"></i> 
                <a href="{{url_for('Reset_Password')}}"> تغيير كلمة المرور </a>
            </button>
        </div>
    </form>
</section>
{% endblock %}