{% extends 'Header.html' %}
{% block body %}
<section>
    <h1>  {{ TheFullComapnyName }} </h1>
</section>
<section>
    <section>
            <h1> معلومات العمل الخاصة</h1>
            <div>
                <h2>اسم العامل</h2>
                <p>{{TheData[0][1]}}</p>
            </div>
            <hr>
            <div>
                <h2>الرقم التعريفي للعامل</h2>
                <p>{{TheData[0][2]}}</p>
            </div>
            <hr>
            <div>
                <h2>  رقن التليفون</h2>
                <p>{{TheData[0][3]}}</p>
            </div>
            <hr>
            <div>
                <h2> لينك العنوان </h2>
                <p>{{TheData[0][4]}}</p>
            </div>
            <hr>
            <div>
                <h2>العنوان</h2>
                <p>{{TheData[0][5]}}</p>
            </div>
            <hr>
            <div>
                <h2> رتبة العامل</h2>
                <p>{{TheData[0][6]}}</p>
            </div>
            <hr>
            <div>
                <h2> موع القبض</h2>
                <p>{{TheData[0][7]}}</p>
            </div>
            <hr>
            <div>
                <h2> يومية العامل</h2>
                <p>{{TheData[0][8]}}</p>
            </div>
            <hr>
            <div>
                <h2>  رقم بطاقة العامل </h2>
                <p>{{TheData[0][9]}}</p>
            </div>
            <hr>
            <div>
                <h2> عدد ايام العمل </h2>
                <p>{{TheData[0][10]}}</p>
            </div>
            <hr>
            <div>
                <h2> المعطي للعامل</h2>
                <p>{{TheData[0][11]}}</p>
            </div>
            <hr>
            <div>
                <h2> خصم العامل </h2>
                <p>{{TheData[0][12]}}</p>
            </div>
            <hr>
            <div>
                <h2> باقي حساب العامل</h2>
                <p>{{TheData[0][13]}}</p>
            </div>
    </section>
    <div class="ShowDiv">
         <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">التاريخ</th>
                    <th scope="col">الحضور</th>
                    <th scope="col"> القبض</th>
                    <th scope="col"> الخصم</th>
                    <th scope="col"> ملاحظات</th>
                </tr>
            </thead>
            <tbody>
                {% for OWData in WData %}
                    <tr>
                    {% for item in OWData %} 
                        <td> {{item}} </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
         </table>
    </div>
</section>

{% endblock %}